/*About Us Page CSS*/
body {
    background-image: url('../images/main/2.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.container { 
    font-family: 'Sanchez', serif;
    font-size: 15.5px; 
    margin-left: 7%;
    width: 85%;
    padding: 8px;
}

.container .navigation {
    text-align: right;
    text-decoration: none;
    margin-right: -5%;
    margin-top: -3%;
    word-spacing: 14px;
}

.container .logo {
    margin-left: -6%;
}

.navigation a {
    color: #000000;
    text-decoration: none;
}

.navigation a:hover {
    color: #d29e69;
  }

/*About Us Section*/
.section h1{
    color: #b85a23;
    font-family: 'Spartan', sans-serif;
    font-weight: 900;
    font-size: 65px;
    margin-left: 15%;
    margin-bottom: -.5%;
    margin-top: 6.5%;
    
}

.section p {
    font-family: 'Sanchez',serif;
    font-size: 18px;
    color: #000000;
    line-height: 30px;
    margin-left: 9%;
    width: 40%;
    text-indent: 50;
    text-align: justify;
}
.footer {
    margin-top: 2%;
    margin-left: 7%;
    width: 85%;
    padding: 8px;
    text-align: center;
}



