/*Home Page CSS*/
body {
    background-color: #b85a23;
    background-repeat: no-repeat;

}
/*Image*/
img{
    border: 1px solid black;
    width: 1280px;
    margin-left: 2%;
   
}

/*Navigation Bar Container*/
.container { 
    font-family: 'Sanchez', serif;
    font-size: 15.5px;
    margin-left: 7%;
    width: 85%;
    padding: 10px; 
}

.container .navigation {
    text-align: right;
    text-decoration: none;
    margin-right: -5%;
    margin-top: -3%;
    word-spacing: 14px;
}

.container .logo {
    margin-left: -6%;
}

.navigation a {
    color: #000000;
    text-decoration: none;
}

.navigation a:hover {
    color: #d29e69;
  }

/*Footer*/
.footer {
    margin-top: 2%;
    margin-left: 7%;
    width: 85%;
    padding: 8px;
    text-align: center;
  }

  

